body{
    background-color:black;
    color:gray;
}

header, main, nav, footer {
    text-align:center;
}

nav a{
    padding:5px;
    padding-bottom:4px;
    font-size: 1.5em;
    text-decoration: none;
    color: white; 

}

nav a:hover { /*pseudo clss*/
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;  /* transition effect */
}

#Home{
    font-size: 1.3em;
}

#About{
    font-size: 1.3em;
}

#Contact{
    font-size: 1.3em;
}

#puppy, #welcomeText{
    float:left;
}

#welcomeText{
    text-align:left !important;
}

footer{
    clear:left;
    font-size: 0.75em;
    color: green;
}

table{
    margin:0px auto;
}

td{
    padding-right:10px;
    font-size:1.3em;
}

td strong{
    color:orange;
}

#table-header{
    background-color: #351a00;
}

.table-row{
    background-color: #753900;
}


ul{
    text-align:left;
    padding-left:200px;
}

.hobby{
    color:yellow;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size:4em;
    margin-bottom: 0px;
}