body{
    background-color:black;
    color:white;
}

 #main{
        font-size: 250%;
        font-style: italic;
        width:800px;
        margin: 0px auto;
  color:red       }
        
   #p1, #p2 {
     text-align:left;
    width:350px;  font-size: 1.5em;     }
        
    #pic1{
             float:right;
       }
       
 footer{
        clear:left;
  text-align:center;      font-size: 0.75em;
        color: green;
        } footer{  float:bottom;  }
nav a{ clear:left; width:500px; }
#links{font-size:1.5em;}
#pic2{ float:top;}
#p3{  font-size:1.5em;  }
#symptoms{ font-size: 1.25em; }
#symp{color:green; font-size: 250%; width:500px; margin: 0px auto;}
#pic3{align:middle;}
#fix{color:blue; font-size: 250%; width:500px; margin: 0px auto;}